<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
<!--    <appender name="SIZE_AND_TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>c:/logs/sizeAndTimeBasedlogFile.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>c:/logs/sizeAndTimeBasedlogFile.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>1KB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->

<!--        <encoder>-->
<!--            <pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="sizeAndTimeBased" level="INFO">-->

<!--    <appender-ref ref="SIZE_AND_TIME_BASED_FILE"/>-->


<!--</logger>-->

</configuration>